.bodyform{
    background-image: url(/Assets/IMG/Contacfondo.jpg);
    background-size: cover;
}

.form{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: fit-content;
    text-shadow: 0px 0px 9px rgba(240,240,240,0.7);
    text-align: center;
    border: 5px solid rgba(245, 245, 245, 0.563);
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.563);
    box-shadow: 0px 0px 48px 7px rgba(191,180,180,0.5);
    -webkit-box-shadow: 0px 0px 48px 7px rgba(191,180,180,0.5);
    -moz-box-shadow: 0px 0px 48px 7px rgba(191,180,180,0.5);
    margin: 25px 150px 25px;
    h1{
        text-align: center;
        margin: 20px;
        margin-bottom: 15px;
    }
    #contactForm{
        width: 75%;
        padding-bottom: 15px;
    }
    button{
        width: 50%;
        margin: 0% 25%;
    }

}
