.BodyCasa{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: fit-content auto auto 500px auto 100px;
    grid-template-areas: "nav nav"   
                        "Head Head"
                        "Sec Sec"
                        "Prod Prod"
                        "Cont Cont"
                        "Foot Foot";

    background-image: linear-gradient(120deg, rgba(160, 151, 151, 0.671) 0%, rgba(56, 45, 47, 0.692) 100%), url("../IMG/HeaderHome.jpg");
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.Shadow{
    text-shadow: 0px 0px 9px rgba(221, 203, 203, 0.836);

}
.navbar{ 
    grid-area: nav;
}

.HeadHome{
    grid-area: Head;

    .textos-home{
        height: max-content;
        color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 20px;
        h1{
            font-size: 60px;
            margin-top: 10px;
        }
        p{
            font-size: 25px;
        }
    }
}

.Sec{
    grid-area: Sec;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(180, 180, 192, 0.664);    
    .YTSec{
        width: 400px;
        border-radius: 50px;
    }
    .TextosSec{
        text-align: center;
        width: 500px;
    }
}

.HomeProd{
    grid-area: Prod;
    background-color: rgba(180, 180, 192, 0.664);
    .TituloProd{
        text-align: center;
        margin: 35px 0px;

    }
    .content-cards{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .card{
            background-color: rgb(180, 180, 192);
            width: 30%;
            height: 400px;
            text-align: center;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
            transform: scale(1);
            transition: transform 0.6s;
            display: flex;
            align-items: center;
            a{
                text-decoration: none;
                color: #000;
            
                img{
                    margin: 30px 0 20px 0;
                    padding: 2px,5px;
                    width: 80%;
                    height: 220px;
                    border-radius: 25px;
                }
                p{
                    font-weight: 200;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    
        .card:hover{
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
            transform: scale(1.03);
            cursor: pointer;
        }
    }
}

.FormHome{ 
    padding: 10px;
    grid-area: Cont;
    background-color: rgba(180, 180, 192, 0.664);
    .TituloForm{
        text-align: center;
        margin: 25px 0px 25px 0px;
    }
    .formu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .input{
            background: transparent;
            border: 0;
            color: #000;
            outline: none;
            border: 1px  double #000;
            padding: 20px 10px;
        }
            .input::placeholder{
                color: #000;
                font-family: 'raleway', 'sans-serif';
            }
            input[type="text"], 
            input[type="email"]{
            display: inline-block;
            width: 49%;
            margin-bottom: 30px;
            }
            textarea{
            width: 100%;
            }
            .botonformu[type="submit"]{
            width: 50%;
            margin: 2% 25%;
            text-align: center;
            padding: 14px 0;
            }
            input[type="submit"]:hover{
            cursor: pointer;
            color: #000;
            background: rgb(180, 180, 192);
        
        }
    }
}


.FootHome{
    grid-area: Foot;
}