@media (max-width: 420px){
/* Footer */

    footer{
        display: flex;
        width: auto;
        align-items:center;
        .EnlacesFooter{
            text-align: center;
            ul{
                margin: 15px 30.5px;
                padding: 0px;
            }
        }
    }

    /* /Fin Footer*/ /* Arranca Nav */  
nav{
    width: 100%;
    }
    div{
        .NavList{
            width: 350px;
            padding:1px 20px 1px 20px;
            li{
                a{
                    padding: 10px;
                    margin: 0px;
                    font-size: smaller;
                }
            }
        }
    }
    /* Navegador index */
    .ItemsNav{
        width: 50%;
        display: flex;
        font-size: smaller;
        a{ 
            margin-right: 10px;
            i{
                display: none;
            }
        }
    }



/* Fin Navegador */ /* Comienzo Home*/

.BodyCasa{
    grid-template-columns: 100% ;
    grid-template-rows: 180px 1fr auto auto auto auto;
    grid-template-areas: "nav"   
                        "Head"
                        "Prod"
                        "Sec" 
                        "Cont"                                              
                        "Foot";
    }
    .HeadHome{
        .textos-home{
            margin: 5px 15px;
            padding-top: 15px;
        }   
    }
    .Sec{
        .TextosSec{
            flex-direction: column;
            margin: 5px 15px;
            text-align: center;
            .TituloSec{
                font-size: medium;
            }
            .TextSec{
                font-size: small;
            }
        }   
    }
    .HomeProd{
        .TituloProd{
            font-size: xx-large;
            margin: 5px 5% 15px;
            text-align: center;
        }
        .content-cards{
            flex-direction:column;
            .card{
                flex-direction: row;
                width: 90%;
                margin: 5%;
                justify-content: center;
                pad:2%;
            }
        }
    }
    .FormHome{
        .contenedor{
            flex-direction: column;
        }
    }

/* Fin Home */ /* Comienzo Contactos */
    .opinion{
        flex-direction: column;
        .opinion__selectores{
            flex-direction: row-reverse;
            flex-wrap: wrap-reverse;
            justify-content: space-around;
            width: fit-content;
            .form-check{
                display: inline-block;
                flex-direction: row;
                align-items: center;
                padding: 5px;                
            }            
        }
    }
    .form{
        margin: 20px 15%;
        padding: 5%;
        width: fit-content;
        .form-control{
            width: 200px;
            padding: 5px;
        }
        textarea{
            width: fit-content;
            margin: 5%;
        }
        .botoncontac{
            margin: 0px 25%;
            .botonformu{
                width: fit-content;
                font-size: smaller;
            }
        }
    }

    /* Fin Contacto */ /* Comienza Locales */
    .CabeceraLocales{
        .table{
        display: none;

        }
    }
    .LineasLoc{
        flex-direction: column;
        margin: 10px;
        .ItemsLoc{
            flex-direction: column;
            .CajaLoc{
                width: fit-content;
                padding: 8px;
                Iframe{
                    display: none;
                }
                p{
                    font-size: smaller;
                    margin-bottom: 5px;
                }
            }
        }
    }

    /* Final Locales */ /* Arranca Productos */
.carruprod{
    width: 90%;
    margin: 5%;
}
.LineasProd{
    width: 90%;
    margin: 5%;
    .CartasProd{
        flex-direction: column;
        p{display: none;}
        .ColProd{
            border-bottom: 3px double white;
            flex-direction: column;
        }
    }
}


}
