@media (max-width: 420px) {
    footer{
        display: flex;
        width: auto;
        align-items:center;
        .EnlacesFooter{
            text-align: center;
        }
    }
    nav{
        width: auto;
    }
    .ItemsNav{
        width: 50%;
        display: flex;
        font-size: smaller;
        a{
            i{
                display: none;
        }
    }
}




}
