*{
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    box-sizing: border-box;
}
// body{
//     overflow: auto; 
//     overflow: overlay;
// }

// ::-webkit-scrollbar {
//     display: none;
// }
// :hover::-webkit-scrollbar {
//         display: initial;
// }
// ::-webkit-scrollbar-thumb {
//         background-color: rgba(0, 0, 0, 0);
// }
